.cw {
  max-width: 1600px;
  margin: auto;
  padding: 40px;
  color: white;
  background: linear-gradient(to right, #09234e, #000000 100%);
  overflow: hidden;
  height: 700px;
}

.ct {
  font-size: 56px;
  margin-top: 80px;
  font-weight: 600;
  width: 50%;
}

.cb {
  font-size: 14px;
  margin-bottom: 40px;
}

.cc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  overflow: visible;
}

.cf {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #9EA2AA;
  margin-top: 50px;
}

.cf textarea {
  min-height: 120px;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  border: none;
}

.cf input {
  padding: 10px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
  width: 450px;
  border: none;
}

.cf input.ok {
  border: 3px solid rgb(14, 216, 14);
}

.err {
  color: red;
  font-size: 14px;
}

.cf button {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #fbd13e;
  background: none;
  transition: 0.3s;
  width: 250px;
  color: #fbd13e;
}

.cf button:hover {
  background: #444;
}

.cf button.sent {
  background: green;
  color: white;
}

.ci {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  position: relative;
}

.ci img {
  width: 500px; /* увеличил размер */
  transform: rotate(-45deg); /* угол меньше, чтобы не обрезало */
  
  position: relative;
  right: -200px;
  margin-top: -50px;/* опустил вниз, чтобы торчал хвост */
}

.ci .i2 {
  transform: rotate(-45deg);
  right: 300px;
  bottom: 150px; /* ещё ниже */
}

.navi {
    display: flex;
    gap: 4px;
}
.navi a{
    color: white;
    list-style: none;
    line-height: none ;
   
    
}
.niva{
    color: #9EA2AA;
}
